div {
  font-family: system-ui;
  font-size:x-large;
  clear: both;

}

header {
  padding: 60px;
  background-color:white;
  color:rgb(129, 167, 206);
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
}

form {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-style:solid;
  border-color: white;
  background-color:rgb(249, 249, 249);
  text-align: center;
  box-shadow: 0 5px 2px -2px rgb(228, 228, 228);
}

a {
  padding: 10px;
}

td {
  border-bottom-style:ridge;
  border-color: rgba(10, 108, 255, 0.479);
  
}
.things {
    margin-left: auto;
    margin-right: auto;
}